.header {
  background-color: var(--company-symbol-color);
  height: 73px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px clamp(0px, calc(10% - 50px), 100%);
  padding: 10px 15px;
  height: 73px;
}

.submit button {
  background-color: var(--company-symbol-light-color);
  font-family: "Gothic A1", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 12pt;
  padding: 6px 12px;
  color: var(--default-background-image);
  border: 1px solid var(--company-symbol-light-color);
  border-radius: 15px;
  box-shadow: 1px 1px rgb(100, 100, 100);
  transition: ease-in 0.1s;
}

.submit > button:active {
  box-shadow: none;
}
