.surveyPage {
  background-color: var(--default-background-image);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 73px;
}

.nav {
  width: 100%;
  height: 5px;
  background-color: #c8c8c8;
}

.nav-current {
  width: 20%;
  height: 5px;
  background-color: #ff6100;
}

.survey {
  margin-top: 45px;
  width: 90%;
  height: 100vh;
  border: none;
}

.introduction {
  height: 100%;
  width: 100%;
}

.introduction .image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: url("../assets/rck-image.png");
  background-repeat: no-repeat;
}

.introduction .text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.introduction h1 {
  font-family: "Gothic A1", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24pt;
  line-height: 40pt;
  letter-spacing: 0;
}

.introduction p {
  font-family: "Gothic A1", serif;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0;
}

.contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content h2 {
  font-family: "Gothic A1", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18pt;
  line-height: 20pt;
  letter-spacing: 0;
}

.content p {
  font-family: "Gothic A1", serif;
  font-size: 13pt;
  line-height: 15pt;
  letter-spacing: 0;
  margin-top: 10px;
}

.content textarea {
  width: 100%;
  height: 120px;
  font-family: "Gothic A1", serif;
  font-size: 12pt;
  line-height: 15pt;
  letter-spacing: 0;
  padding: 10px;
  resize: none;
  outline-color: var(--company-symbol-color);
}

.content textarea::-webkit-scrollbar {
  width: 10px;
}

.content textarea::-webkit-scrollbar-thumb {
  background: var(--company-symbol-light-color);
}

.content textarea::-webkit-scrollbar-track {
  background: #ddd;
}

.content .items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Gothic A1", serif;
  font-size: 12pt;
  line-height: 15pt;
  letter-spacing: 0;
  padding: 10px;
}

.content .item {
  display: flex;
  position: relative;
}

.content .screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  margin: -1px;
  clip-path: inset(50%);
}

.content .label-box {
  position: relative;
}

.content .check-icon {
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--company-symbol-color);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.content .check-icon::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 30%;
  height: 55%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-70%) rotate(40deg);
  border-right: 1.7px solid transparent;
  border-bottom: 1.7px solid transparent;
}

.content label {
  display: inline-block;
  padding-left: 2.2em;
  position: relative;
  cursor: pointer;
}

[type="checkbox"]:checked + .label-box .check-icon {
  border-color: var(--company-symbol-light-color);
  background-color: var(--company-symbol-light-color);
}

[type="checkbox"]:checked + .label-box .check-icon::before {
  border-color: #fff;
}
